-if current_user && current_user.permission
  %div#admin-container
    %h3 Welcome to Admin Mode

    = link_to 'Create a Blog Post', new_user_blog_path(current_user)
    %br
    = link_to 'View Your Blog Posts', user_blogs_path(current_user)

    %p Create Admin User
