%div.user-form-container
  =form_tag({ :action => 'create', :controller => 'sessions' }, { :class => 'user-form' }) do
    = text_field_tag :username, '' , :placeholder => 'Username'
    = password_field_tag :password, '', :placeholder => 'Password'
    = submit_tag "Log In"
  -# TODO need to style this properly to fix header
  %div.user-form-errors
    - if flash[:error] && flash[:action] == 'Log In'
      %span= flash[:error]
